footer .content{
    display: inline;
    height: 50vh;
    background-color: #1C1C1C;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
    font-family:'Roboto Slab';
}

footer h1{
    color: white;
    font-weight:300;
    font-size:42px;
    text-decoration: underline;
    letter-spacing: 2px;
}

.social-networks-container{
    width: 30%;
    height:70%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    gap: 70px;
}

.limit{
    width:1px;
    height:45%;
    background-color: aliceblue;
}

.social-logos{
    width:100%;
    display: flex;
    flex-direction:row;
    justify-content:space-around;

}

.social-logos img{
    width:70px;
    height: 70px;
}

.sn{
    filter:grayscale(100%) brightness(1000%);
    transition: 0.1s linear;
}

.sn:hover{
    filter:grayscale(0%) brightness(1);
    transition: 0.05s linear;
}

.other-container{
    width: 30%;
    height:70%;
}